In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

已知：numList = [[1, 3], [2, 4], [3, 5], [4, 6]]
请用DataFrame API和Spark SQL分别编程
输出格式（列名随意）：

##### DataFrame API

In [12]:
numList = [[1, 3], [2, 4], [3, 5], [4, 6]]
data=spark.createDataFrame(numList)
data=data.withColumnRenamed("_1","col1").withColumnRenamed("_2","col2").select("*")
data.withColumn("col2",data.col2*10).show()

+----+----+
|col1|col2|
+----+----+
|   1|  30|
|   2|  40|
|   3|  50|
|   4|  60|
+----+----+

##### Spark Sql

In [19]:
data.createTempView('data_v')
spark.sql("select col1,col2*10 as col2 from data_view").show()

+----+----+
|col1|col2|
+----+----+
|   1|  30|
|   2|  40|
|   3|  50|
|   4|  60|
+----+----+